{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'estilos.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'menu.css' %}" />
{% endblock %}

{% block titulo %}Login{% endblock %}

{% block encabezado %}
    <h1>Registrese</h1>
{% endblock %}

{% block contenido %}
    {% if form.errors %}
        <p>No coincide tu usuario con tu contraseña.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
        <p>Usuario no válido. Conectese con un usuario válido o contactese con el responsable.</p>
        {% else %}
        <p>Registrese para entrar a esta página.</p>
        {% endif %}
    {% endif %}

    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
    <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
    </tr>
    <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
    </tr>
    </table>

    <input type="submit" value="login">
    <input type="hidden" name="next" value="{{ next }}">
    </form>

    {# Assumes you set up the password_reset view in your URLconf #}
    <p><a href="{% url 'password_reset' %}"><h3>No recuerdo mi cosntraseña</h3></a></p>
{% endblock %}
