{% extends './base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet"  href="{% static 'estilos.css' %}" />
<link rel="stylesheet"  href="{% static 'menu.css' %}" />
{% endblock %}

{% block titulo %}Inscripcción de profesores{% endblock %}

{% block encabezado %}
<h1>Inscripcción de profesores habilitados</h1>
{% endblock %}

{% block contenido %}
    <form action="" method="POST">
        {% csrf_token %}
        
        {{ form.as_p }}

        <input type="submit">
    </form>
{% endblock %}