<!DOCTYPE html>
<html lang="en">
  <head>

    <title>Progracion en BackEnd</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'estilos.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'menu.css' %}" />
    <script src="https://kit.fontawesome.com/450a242195.js" crossorigin="anonymous"></script>
  </head>

  <body id="body">
  <header>
    <div class="icon__menu">
      <i class="fa-sharp fa-solid fa-bars" id="btn_open"></i>
    </div>
  </header>

  <div class="menu__side" id="menu_side">

    <div class="options__menu">

      <a href="#" class="selected">
        <div class="option">
          <i class="fas fa-home" title="Inicio"></i>
          <h4>Inicio</h4>
        </div>
      </a>

      <a href="#">
        <div class="option">
          <i class="fa-regular fa-newspaper" title="Resumen"></i>
          <h4>Resumen</h4>
        </div>
      </a>

      <a href="#">
        <div class="option">
          <i class="fa-solid fa-envelope" title="Contacto"></i>
          <h4>Contáctanos</h4>
        </div>
      </a>

    </div>

  </div>
      
    <div>
      <h1>Bienvenidos a Programacion Codo a Codo </h1>
        <h5>Estos son algunas de las app que vera.</h5>
    </div>

           <section>
     
              {% for elemento in articulos %}
              <article>
               <h3>{{ elemento.nombre }}</h3>
               <p>{{ elemento.contenido }}</p>

              <img src="{{ elemento.imagen }}" />

               <footer>Autor: {{elemento.autor}}</footer>
             </article>

            {% endfor %}
           </section>
       </header>
   </body>

  <footer>
        <section>
            <form action="" method="post">
                  {% csrf_token %}
                  <h2>Conoce Sobre Codo a Codo</h2>
                  <input type="text" name="nombre" placeholder=" Dejanos tu Nombre"> <br>

                  {{form.as_p}}

                  <input type="submit" name="enviar" value="Enviar Menasje"> 

                  {% if mensaje %}
                  <h2>{{ mensaje }}</h2>
                  {% endif %} 
                  
                  
            </form>

        </section>
    <footer>
        <h3 >Grupo N°4 de Django </h3>    
    </footer>
  {% load static %}
  <script src="{% static 'menujs.js' %}"></script>
</html>
